.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 1px solid rgb(232, 234, 235);
  padding: 50px 25px;
}

.form__error {
  margin-top: 20px;
}
