.main-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-view__container {
  padding: 1.5rem 0;
  flex: 1 0 auto;
}
.main-view__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-view__grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 0fr);
  grid-gap: 2rem;
  margin-bottom: 1rem;
}

.main-view__content--spinner {
  justify-content: center;
  height: 100%;
}
